<%= form_for(@baloon) do |f| %>
  <% if @baloon.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@baloon.errors.count, "error") %> prohibited this baloon from being saved:</h2>

      <ul>
      <% @baloon.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :coords %><br>
    <%= f.text_field :coords %>
  </div>
  <div class="field">
    <%= f.label :caption %><br>
    <%= f.text_area :caption %>
  </div>
  <div class="field">
    <%= f.label :header %><br>
    <%= f.text_field :header %>
  </div>
  <div class="field">
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </div>
  <div class="field">
    <%= f.label :footer %><br>
    <%= f.text_field :footer %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
