<h1>Listing baloons</h1>

<table>
  <thead>
    <tr>
      <th>Coords</th>
      <th>Caption</th>
      <th>Header</th>
      <th>Body</th>
      <th>Footer</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @baloons.each do |baloon| %>
      <tr>
        <td><%= baloon.coords %></td>
        <td><%= baloon.caption %></td>
        <td><%= baloon.header %></td>
        <td><%= baloon.body %></td>
        <td><%= baloon.footer %></td>
        <td><%= link_to 'Show', baloon %></td>
        <td><%= link_to 'Edit', edit_baloon_path(baloon) %></td>
        <td><%= link_to 'Destroy', baloon, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Baloon', new_baloon_path %>
