<%= render 'spree/admin/shared/configuration_menu' %>

<% content_for :page_title do %>
    Редактировать материал
<% end %>

<% content_for :page_actions do %>
    <li><%= button_link_to 'Вернуться к списку', '/admin/materials', :icon => 'icon-arrow-left' %></li>
<% end %>

<%= render "spree/shared/error_messages", :target => @material %>

<%= nested_form_for(@material, url: '/materials') do |f| %>
    <fieldset class="no-border-top">
      <div data-hook="admin_page_form_fields">
        <div class="left eight columns alpha" data-hook="admin_page_form_left">
          <%= f.hidden_field :id, value: @material.id %>

          <%= f.field_container :title do %>
              <%= f.label :title %> <span class="required">*</span><br />
              <%= f.text_field :title, :class => 'fullwidth title' %>
              <%= f.error_message_on :title %>
          <% end %>

          <%= f.field_container :text do %>
              <%= f.label :text %> <span class="required">*</span><br />
              <%= f.text_area :text, {rows: 12, :class => 'fullwidth'} %>
              <%= f.error_message_on :text %>
          <% end %>

          <%= f.field_container :file do %>
              <%= f.label :file %>
              <%= f.file_field :file %>
              <%= f.error_message_on :file %>
              <%= link_to f.object.file.split('/').last, f.object.file, target: '_blank' if f.object.file %>
          <% end %>

          <%= f.fields_for :spree_images do |image_form| %>
              <br><br>
              <%= image_tag(image_form.object.attachment.url(:product)) unless image_form.object.new_record? %>
              <%= image_form.file_field :attachment if image_form.object.new_record? %><br>
              <%= image_form.hidden_field :viewable_type, value: 'Material' %>
              <%= image_form.link_to_remove "Удалить изображение" %>
          <% end %>
          <p><%= f.link_to_add "Добавить изображение", :spree_images %></p>

        </div>

        <div class="clear"></div>
        <div data-hook="admin_page_form_additional_fields"></div>
        <div class="clear"></div>
      </div>
      <%# render :partial => 'spree/admin/shared/new_resource_links' %>
    </fieldset>
    <div class="form-buttons filter-actions actions" data-hook="buttons">
      <%= button Spree.t('actions.update'), 'ok' %>
    </div>
<% end %>