<div data-hook="admin_product_form_fields">

  <div class="left eight columns alpha" data-hook="admin_product_form_left">
    <div data-hook="admin_product_form_name">
      <%= f.field_container :name do %>
        <%= f.label :name, raw(Spree.t(:name) + content_tag(:span, ' *', :class => 'required')) %>
        <%= f.text_field :name, :class => 'fullwidth title' %>
        <%= f.error_message_on :name %>
      <% end %>
    </div>

    <div data-hook="admin_product_form_slug">
      <%= f.field_container :slug do %>
        <%= f.label :slug, raw(Spree.t(:slug) + content_tag(:span, ' *',  :class => "required")) %>
        <%= f.text_field :slug, :class => 'fullwidth title' %>
        <%= f.error_message_on :slug %>
      <% end %>
    </div>

    <div data-hook="admin_product_form_description">
      <%= f.field_container :description do %>
        <%= f.label :description, Spree.t(:description) %>
        <%= f.text_area :description, {:rows => "#{unless @product.has_variants? then '20' else '13' end}", :class => 'fullwidth'} %>
        <%= f.error_message_on :description %>
      <% end %>
    </div>
  </div>

  <div class="right four columns omega" data-hook="admin_product_form_right">
    <div data-hook="admin_product_form_price">
    <%= f.field_container :price do %>
      <%= f.label :price, raw(Spree.t(:master_price) + content_tag(:span, ' *', :class => "required")) %>
      <%= f.text_field :price, :value => number_to_currency(@product.price, :unit => '') %>
      <%= f.error_message_on :price %>
    <% end %>
    </div>

    <div data-hook="admin_product_form_cost_price" class="alpha two columns">
      <%= f.field_container :cost_price do %>
        <%= f.label :cost_price, Spree.t(:cost_price) %>
        <%= f.text_field :cost_price, :value => number_to_currency(@product.cost_price, :unit => '') %>
        <%= f.error_message_on :cost_price %>
      <% end %>
    </div>
    <div data-hook="admin_product_form_cost_currency" class="omega two columns">
      <%= f.field_container :cost_currency do %>
        <%= f.label :cost_currency, Spree.t(:cost_currency) %>
        <%= f.text_field :cost_currency %>
        <%= f.error_message_on :cost_currency %>
      <% end %>
    </div>

    <div class="clear"></div>

    <div data-hook="admin_product_form_available_on">
      <%= f.field_container :available_on do %>
        <%= f.label :available_on, Spree.t(:available_on) %>
        <%= f.error_message_on :available_on %>
        <%= f.text_field :available_on, :value => datepicker_field_value(@product.available_on), :class => 'datepicker' %>
      <% end %>
    </div>



    <div data-hook="admin_product_form_shipping_categories">
      <%= f.hidden_field :shipping_category_id, value: Spree::ShippingCategory.all.first.id %>
    </div>

    <div data-hook="admin_product_form_shipping_categories">
      <%= f.label :certificate, 'Сертификат' %>
      <%= f.file_field :certificate %>
      <%= link_to f.object.certificate.split('/').last, f.object.certificate, target: '_blank' if f.object.certificate %>
    </div>
    <div data-hook="admin_product_form_shipping_categories">

      <%= f.label :instruction, 'Инструкция' %>

      <%= f.file_field :instruction %>
      <%= link_to f.object.instruction.split('/').last, f.object.instruction, target: '_blank' if f.object.instruction %>
    </div>




  </div>

  <div class="twelve columns alpha omega">
    <div data-hook="admin_product_form_taxons">
      <%= f.field_container :taxons do %>
        <%= f.label :taxon_ids, Spree.t(:taxons) %><br />
        <%= f.hidden_field :taxon_ids, :value => @product.taxon_ids.join(',') %>
      <% end %>
    </div>

    <div data-hook="admin_product_form_option_types">
      <%= f.field_container :option_types do %>
        <%= f.label :option_type_ids, Spree.t(:option_types) %>
        <%= f.hidden_field :option_type_ids, :value => @product.option_type_ids.join(',') %>
      <% end %>
    </div>
  </div>

  <div data-hook="admin_product_form_meta" class="alpha omega twelve columns">
    <div data-hook="admin_product_form_meta_keywords">
      <%= f.field_container :meta_keywords do %>
        <%= f.label :meta_keywords, Spree.t(:meta_keywords) %>
        <%= f.text_field :meta_keywords, :class => 'fullwidth' %>
      <% end %>
    </div>

    <div data-hook="admin_product_form_meta_description">
      <%= f.field_container :meta_description do %>
        <%= f.label :meta_description, Spree.t(:meta_description) %>
        <%= f.text_field :meta_description, :class => 'fullwidth' %>
      <% end %>
    </div>
  </div>

  <div class="clear"></div>

  <div data-hook="admin_product_form_additional_fields"></div>

  <div class="clear"></div>
</div>

<% unless Rails.env.test? %>
  <script>
  $('.select2-container').css({width: '20em'})
  </script>
<% end %>
